#fondo__pagina {
  background-image: url(../img/headerBG.jpg);
  height: 40em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left; }

/* ESTILOS PALABRA MENU */
#estilo__palabra__menu {
  font-weight: 500;
  color: #3d3232; }

#estilo__palabra__menu__rojo {
  color: #a8c7cc;
  font-weight: 500; }

#estilo__palabra__menu__colores {
  color: #a8c7cc;
  font-weight: 500; }

#estilo__palabra__menu__cactus {
  color: #a8c7cc;
  font-weight: 500; }

#estilo__palabra__menu__perla {
  color: #030539;
  font-weight: 500; }

/* FIN ESTILO PALABRA MENU */
/* ESTILO TITULO */
#titulo__nombre, #titulo__nombre__rojo, #titulo__nombre__colores, #titulo__nombre__cactus, #titulo__nombre__perla {
  font-family: "Bree Serif";
  text-decoration: none;
  font-size: 20px;
  color: #3d3232; }

#titulo__nombre__rojo {
  color: #a8c7cc; }

#titulo__nombre__colores {
  color: #a8c7cc; }

#titulo__nombre__cactus {
  color: #a8c7cc; }

#titulo__nombre__perla {
  color: #030539; }

/* FIN ESTILO TITULO */
/* ESTILO BARRA NAVEGACION */
#barra__navegacion {
  background-color: #d2d4d3a4;
  padding: 0; }

#barra__navegacion__rojo {
  background-color: #6d4050;
  padding: 0; }

#barra__navegacion__colores {
  background-color: #6c5373;
  padding: 0; }

#barra__navegacion__cactus {
  background-color: #1d4841;
  padding: 0; }

#barra__navegacion__perla {
  background-color: #8279b0;
  padding: 0; }

/* FIN BARRA NAVEGACION */
/* INICIO ESTILO SOMBRA BARRA DE NAVEGACION */
#sombra__barra__navegacion {
  box-shadow: #0000002c 1px 4px 10px; }

#sombra__barra__navegacion__roja {
  box-shadow: #6d4050 1px 4px 10px; }

#sombra__barra__navegacion__colores {
  box-shadow: #6c5373 1px 4px 10px; }

#sombra__barra__navegacion__cactus {
  box-shadow: #1d4841 1px 4px 10px; }

#sombra__barra__navegacion__perla {
  box-shadow: #8279b0 1px 4px 10px; }

/* FIN ESTILO SOMBRA BARRA DE NAVEGACION */
/* ESTILO TEXTO DE FOOTER */
#footer__contacto {
  box-shadow: 1px -4px 10px #0000002c; }
  #footer__contacto #texto__footer {
    background-color: #d2d4d3a4;
    height: 12em;
    font-family: "Cantarell";
    font-size: 0.8em; }
    #footer__contacto #texto__footer #instagram__footer {
      text-align: end;
      margin-top: 2px; }
      #footer__contacto #texto__footer #instagram__footer #palabra__instagram {
        font-family: "Helvetica";
        font-weight: 700;
        color: white;
        border: #3f729b solid 2px;
        border-radius: 3px;
        background-color: #3f729b;
        padding: 4px 13px; }
      #footer__contacto #texto__footer #instagram__footer #palabra__instagram:hover {
        background-color: #264c6b;
        border: #264c6b solid 2px;
        transition: 0.5s; }
    #footer__contacto #texto__footer #palabra__wp {
      font-family: "Arial";
      font-weight: 700;
      color: white;
      border: #00bb2d solid 2px;
      border-radius: 3px;
      background-color: #00bb2d;
      padding: 4px 13px; }
    #footer__contacto #texto__footer #palabra__wp:hover {
      background-color: #036e1c;
      border: #036e1c solid 2px;
      transition: 0.5s; }

#texto__footer__rojo {
  background-color: #6d4050;
  height: 12em;
  font-family: "Cantarell";
  font-size: 0.8em;
  box-shadow: #6d4050 1px -4px 10px; }

#texto__footer__colores {
  background-color: #6c5373;
  height: 12em;
  font-family: "Cantarell";
  font-size: 0.8em;
  box-shadow: #6c5373 1px -4px 10px; }

#texto__footer__cactus {
  background-color: #1d4841;
  height: 12em;
  font-family: "Cantarell";
  font-size: 0.8em;
  box-shadow: #1d4841 1px -4px 10px; }

#texto__footer__perla {
  background-color: #8279b0;
  height: 12em;
  font-family: "Cantarell";
  font-size: 0.8em;
  box-shadow: #8279b0 1px -4px 10px; }

/* FIN ESTILO TEXTO DE FOOTER */
#fondo__presentacion {
  background-color: #d2d4d3a4; }
  #fondo__presentacion .titulo__presentacion {
    animation-name: titulopresentacion;
    animation-timing-function: linear;
    animation-duration: 2s; }
  #fondo__presentacion #texto__foto__presentacion {
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 5px;
    animation-name: contenedortexto;
    animation-timing-function: ease-in-out;
    animation-duration: 1s; }
    #fondo__presentacion #texto__foto__presentacion #parrafo__presentacion {
      font-family: "Cantarell";
      line-height: 25px;
      font-size: 15px;
      color: #333030;
      animation-name: textoaparicion;
      animation-timing-function: linear;
      animation-duration: 3s; }

@keyframes textoaparicion {
  from {
    color: transparent; }
  to {
    color: #333030; } }

@keyframes contenedortexto {
  from {
    margin-left: -500px;
    background-color: transparent; }
  to {
    margin-left: initial;
    background-color: rgba(0, 0, 0, 0.068); } }

/* #fondo__trabajos{
    background-image: $fondoopaco, url(../img/museo-louvre-1072536.jpg); 
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
} */
/* ESTILO ICONOS CONTACTO */
#instagram__footer {
  text-align: end;
  margin-top: 2px; }

#palabra__instagram {
  font-family: "Helvetica";
  font-weight: 700;
  color: white;
  border: #3f729b solid 2px;
  border-radius: 3px;
  background-color: #3f729b;
  padding: 4px 13px; }

#palabra__instagram:hover {
  background-color: #264c6b;
  border: #264c6b solid 2px;
  transition: 0.5s; }

#palabra__wp {
  font-family: "Arial";
  font-weight: 700;
  color: white;
  border: #00bb2d solid 2px;
  border-radius: 3px;
  background-color: #00bb2d;
  padding: 4px 13px; }

#palabra__wp:hover {
  background-color: #036e1c;
  border: #036e1c solid 2px;
  transition: 0.5s; }

/* FIN ESTILO ICONOS CONTACTO */
.fondo__estilos {
  background-image: linear-gradient(243deg, #e6e3e3 31%, black 100%);
  background-size: 300%;
  animation: fondoestilos 10s linear infinite alternate; }

.titulo__estilos, #fondo__presentacion .titulo__presentacion, .titulo__trabajos, .section__chicaroja .titulo__chicaroja, .section__chicacolores .titulo__chicacolores, .section__cactus .titulo__cactus, .section__perla .titulo__perla {
  -webkit-text-stroke: 1px black;
  font-family: "Bree Serif";
  font-size: 5em;
  color: transparent; }

.subtitulo__estilos {
  font-family: "Bree Serif"; }

@keyframes fondoestilos {
  from {
    background-position: left;
    color: #e6e3e3; }
  to {
    background-position: right;
    color: black; } }

.titulo__trabajos {
  font-size: 6em;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.651);
  text-shadow: rgba(255, 255, 255, 0.438) 1px 3px 20px;
  animation-name: iluminaciontitulo;
  animation-timing-function: ease-out;
  animation-duration: 3s; }

@keyframes iluminaciontitulo {
  0% {
    text-shadow: none; }
  10% {
    text-shadow: 255, 255, 255, 0.438 1px 2px 15px; }
  60% {
    text-shadow: none; }
  70% {
    text-shadow: rgba(255, 255, 255, 0.438) 1px 2px 15px; }
  80% {
    text-shadow: none; }
  90% {
    text-shadow: none; }
  100% {
    text-shadow: rgba(255, 255, 255, 0.438) 1px 2px 15px; } }

.section__titulo__trabajos {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/pared-purpura-papel-pintado-1680x1050_5.jpg); }

.section__chicaroja {
  background-color: #d2d4d3a4; }
  .section__chicaroja .titulo__chicaroja {
    margin-top: 100px;
    -webkit-text-stroke: 4px #733646; }
  .section__chicaroja p {
    font-family: "Cantarell";
    text-align: justify; }

.section__chicacolores {
  background-color: #023059; }
  .section__chicacolores .titulo__chicacolores {
    margin-top: 100px;
    -webkit-text-stroke: 4px #803D68; }
  .section__chicacolores p {
    color: #803D68;
    font-family: "Cantarell";
    text-align: justify; }

.section__cactus {
  background-color: #632C73; }
  .section__cactus .titulo__cactus {
    margin-top: 100px;
    -webkit-text-stroke: 4px #5B83A6; }
  .section__cactus p {
    color: #5B83A6;
    font-family: "Cantarell";
    text-align: justify; }

.section__perla {
  background-color: #021859; }
  .section__perla .titulo__perla {
    margin-top: 100px;
    -webkit-text-stroke: 4px #617AD6; }
  .section__perla p {
    color: #617AD6;
    font-family: "Cantarell";
    text-align: justify; }

/* ------------------MEDIA QUERIES---------------------- */
@media only screen and (max-width: 576px) {
  #fondo__pagina {
    background-image: url(../img/headerBG600pxMAX.jpg);
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; }
    #fondo__pagina .burbuja1 {
      width: 50px;
      height: 50px;
      border-radius: 60%;
      background-color: #bd849c;
      opacity: .3;
      position: absolute;
      bottom: 0;
      left: 5%;
      animation: burbuja 3s linear infinite; }
    #fondo__pagina .burbuja2 {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #bd849c;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 25%;
      animation: burbuja 3s .2s linear infinite; }
    #fondo__pagina .burbuja3 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #bd849c;
      opacity: .3;
      position: absolute;
      bottom: 0;
      left: 55%;
      animation: burbuja 3s linear infinite; }
    #fondo__pagina .burbuja4 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #bd849c;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 75%;
      animation: burbuja 3s .7s linear infinite; }
    #fondo__pagina .burbuja5 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #bd849c;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 35%;
      animation: burbuja 3s 1s linear infinite; }
  @keyframes burbuja {
    0% {
      bottom: 0;
      opacity: 0; }
    50% {
      opacity: .4; }
    100% {
      bottom: 100vh; } }
  #logo__ig {
    height: 30px;
    width: 30px; }
  #logo__wp {
    height: 33px;
    width: 33px; }
  #palabra__instagram {
    font-family: "Helvetica";
    font-weight: 700;
    color: white;
    border: #3f729b solid 2px;
    border-radius: 3px;
    background-color: #3f729b;
    padding: 2px 10px;
    font-size: 10px; }
  #palabra__wp {
    font-family: "Arial";
    font-weight: 700;
    color: white;
    border: #00bb2d solid 2px;
    border-radius: 3px;
    background-color: #00bb2d;
    padding: 2px 10px;
    font-size: 10px; }
  #fondo__presentacion .titulo__presentacion {
    font-size: 3em; }
  #foto__presentacion {
    margin: 10%; }
  #texto__foto__presentacion {
    margin-bottom: 10%;
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 2%; }
  .section__titulo__trabajos {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/pared-purpura-papel-pintado-960x540_43.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .titulo__trabajos {
    font-size: 4em; }
  .section__chicaroja .titulo__chicaroja {
    font-size: 3em;
    -webkit-text-stroke: 2px #733646;
    text-align: justify; }
  .section__chicacolores .titulo__chicacolores {
    font-size: 3em;
    -webkit-text-stroke: 2px #803D68;
    text-align: justify; }
  .section__cactus .titulo__cactus {
    font-size: 3em;
    -webkit-text-stroke: 2px #5B83A6;
    text-align: justify; }
  .section__perla .titulo__perla {
    font-size: 2.5em;
    -webkit-text-stroke: 0.8px #617AD6;
    text-align: justify; } }

@media only screen and (min-width: 576px) {
  #foto__presentacion {
    margin: 10%;
    margin-left: 5%; }
  #texto__foto__presentacion {
    margin-bottom: 10%;
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 2%; }
  .burbuja1 {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    background-color: #bd849c;
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 5%;
    animation: burbuja 3s linear infinite; }
  .burbuja2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 25%;
    animation: burbuja 3s .2s linear infinite; }
  .burbuja3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 55%;
    animation: burbuja 3s linear infinite; }
  .burbuja4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 75%;
    animation: burbuja 3s .7s linear infinite; }
  .burbuja5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 35%;
    animation: burbuja 3s 1s linear infinite; }
  @keyframes burbuja {
    0% {
      bottom: 0;
      opacity: 0; }
    50% {
      opacity: .4; }
    100% {
      bottom: 100vh; } } }

@media only screen and (min-width: 768px) {
  #foto__presentacion {
    margin: 10%;
    /* margin-top: 30%; */ }
  #texto__foto__presentacion {
    margin-top: 3%;
    text-align: justify;
    margin-bottom: 3%; } }

@media only screen and (min-width: 992px) {
  #foto__presentacion {
    margin: 10%;
    /* margin-top: 60%; */ }
  #texto__foto__presentacion {
    margin-top: 2.3%;
    text-align: justify;
    margin-bottom: 2.1%; }
  #texto__footer__large {
    font-size: 1.3em; }
  .burbuja1 {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    background-color: #bd849c;
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: burbuja 3s linear infinite; }
  .burbuja2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 65%;
    animation: burbuja 3s .2s linear infinite; }
  .burbuja3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 75%;
    animation: burbuja 3s linear infinite; }
  .burbuja4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 90%;
    animation: burbuja 3s .7s linear infinite; }
  .burbuja5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bd849c;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 75%;
    animation: burbuja 3s 1s linear infinite; }
  @keyframes burbuja {
    0% {
      bottom: 0;
      opacity: 0; }
    50% {
      opacity: .4; }
    100% {
      bottom: 100vh; } } }

@media only screen and (min-width: 1200px) {
  #foto__presentacion {
    margin: 10%;
    /* margin-top: 40%; */ }
  #texto__foto__presentacion {
    margin-top: 1%;
    text-align: justify;
    margin-bottom: 1%; } }
