

#fondo__pagina{
    background-image: url(../img/headerBG.jpg);
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

#estilo__palabra__menu__rojo{
    color: #a8c7cc
}

#titulo__nombre{
    font-family: "Bree Serif";
    text-decoration: none;
    font-size: 20px;
}


#barra__navegacion{
    background-color: #d2d4d3a4;
    padding: 0;
}

#barra__navegacion__rojo{
    background-color: #6d4050;
    padding: 0;
}

#sombra__barra__navegacion{
    box-shadow: #0000002c 1px 4px 10px;
}

#texto__footer{
    background-color:#d2d2d0; 
    height: 12em;
    font-family: "Cantarell";
    font-size: 0.8em;
    box-shadow: #00000015 1px 4px 10px;
}

#instagram__footer{
    text-align: end;
    margin-top: 2px;
}

#palabra__instagram{
    font-family: "Helvetica";
    font-weight: 700;
    color: white;
    border: #3f729b solid 2px;
    border-radius: 3px;
    background-color: #3f729b;
    padding: 4px 13px;
}

#palabra__wp{
    font-family: "Arial";
    font-weight: 700;
    color: white;
    border:#00bb2d solid 2px ;
    border-radius: 3px;
    background-color: #00bb2d;
    padding: 4px 13px;
}

#fondo__presentacion{
    background-color: #d2d4d3;
}

#foto__presentacion{
    margin: 10%;
    margin-top: 40%;
    margin-left: 0;
}

#footer__contacto{
    box-shadow:  1px -4px 10px #0000002c
}







@media only screen and (max-width: 576px){
    #fondo__pagina{
        background-image: url(/img/headerBG600pxMAX.jpg);
        height: 40em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    #logo__ig{
        height: 30px;
        width: 30px;
    }

    #logo__wp{
        height: 33px;
        width: 33px;
    }

    #palabra__instagram{
        font-family: "Helvetica";
        font-weight: 700;
        color: white;
        border: #3f729b solid 2px;
        border-radius: 3px;
        background-color: #3f729b;
        padding: 2px 10px;
        font-size: 10px;
    }
    
    #palabra__wp{
        font-family: "Arial";
        font-weight: 700;
        color: white;
        border:#00bb2d solid 2px ;
        border-radius: 3px;
        background-color: #00bb2d;
        padding: 2px 10px;
        font-size: 10px;
    }

    #foto__presentacion{
        margin: 10%;
    }

    #texto__foto__presentacion{
        padding-bottom: 10%;
        text-align: justify;
    }
    
    
    
}

@media only screen and (min-width: 576px){
    #foto__presentacion{
        margin: 10%;
        margin-left: 5%;
    }

    #texto__foto__presentacion{
        padding-bottom: 10%;
        text-align: justify;
    }
    
}

@media only screen and (min-width: 768px){
    #foto__presentacion{
        margin: 10%;
        /* margin-top: 30%; */
    }

    #texto__foto__presentacion{
        padding-top: 3%;
        text-align: justify;
    }
    
}

@media only screen and (min-width: 992px){
    #foto__presentacion{
        margin: 10%;
        /* margin-top: 60%; */
        
    }
    
}


@media only screen and (min-width: 1200px){
    #foto__presentacion{
        margin: 10%;
        /* margin-top: 40%; */
    }

    #texto__foto__presentacion{
        padding-top: 1.5%;
        text-align: justify;
    }
    
}







