$colorprincipal: #d2d4d3a4;

$colortextos: rgb(61, 50, 50);

$sombra: 1px 4px 10px;

$fondoopaco: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));

$colorburbujas: #bd849c;

$fuentetitulos: "Bree Serif";

$fuentetextos:"PT Sans Caption", sans-serif, "arial", "Times New Roman";